@import "tailwindcss";

button, a, [role="button"] {
  cursor: pointer;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}
.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}
